<% provide :page_title, 'Completed capitals' %>

<div class="container text-center">
	<div class="row justify-content-between">
		<div class="col-auto me-auto">
			<h1>Your achieved goals:</h1>
		</div>
		<div class="col-auto">
			<%= link_to "New goal", new_capital_path, class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>
<% @capitals.each do |capital| %>
<article class="card my-3">
	<section class="card-header">
		<time datetime="<%= capital.formatted_created_at %>">
			<small><%= capital.formatted_created_at %></small>		
		</time>
	</section>

	<div class="card-body">

		<h4>Goal: <%= capital.goal %></h4>

		<section class="card-text">
			<p class="my-2">
				Amount: <%= capital.amount %>
			</p>

			<p class="my-2">
				<!-- strip_tags - убирает html теги, truncate - ограничивает вывод до определенной длины -->
				Period: <%= capital.period %> 
			</p>
		</section>
		<%= link_to "Show", capital_path(capital), class: 'btn btn-primary' %>
	</div>
</article>

<% end %>