<% provide :page_title, 'Capital' %>
<% currently_at('Capitals') %>

<article class="card my-3 col-6">
	<section class="card-header">
		<time datetime="<%= @capital.formatted_created_at %>">
			<small><%= @capital.formatted_created_at %></small>		
		</time>
	</section>

	<div class="card-body">

		<h4>Goal: <%= @capital.goal %></h4>

		<section class="card-text">
			<p class="my-2">
				Amount: <%= @capital.amount %>
			</p>

			<p class="my-2">
				<!-- strip_tags - убирает html теги, truncate - ограничивает вывод до определенной длины -->
				Period: <%= @capital.period %> 
			</p>
		</section>
		<% if @balance < @capital[:amount] %>
			<%= link_to "Edit", edit_capital_path(@capital), class: 'btn btn-secondary' %>
			<%= link_to "Delete", capital_path(@capital), class: 'btn btn-danger', method: :delete, data: {confirm: "Are your sure?"} %>
		<% end %>
	</div>
</article>

<% if @balance < @capital[:amount] %>
	<p>
		You can reduce the amount by clicking the button at the bottom.
	</p>

	<%= render 'shared/errors', object: @addition %>

	<%= form_with model: [@capital, @addition] do |f| %>
		<div>
			<div>
				<%= f.label :balance, "Deposit amount" %>
			</div>

			<div>
				<%= f.number_field :balance %>
			</div>
		</div>

		</br>

		<%= f.submit "Put money", class: "btn btn-primary" %>
	<% end %>
<% else %>
	<h4>
		Congratulations! You have achieved your goal!
	</h4>

	<%= link_to "All completed goals", completed_capitals_path, class: "btn btn-success" %>

  <h5 class="mt-3">
  	Do you want to add a new goal?
  </h5>

  <%= link_to "New goal", new_capital_path, class: "btn btn-primary" %>
	</br>
<% end %>

</br>

<% @additions.each do |addition| %>

	<div class="col-sm">
			<div class="card-body">
				<section class="card-text mb-3">
					<div class="col-sm-9">
						<small><time datetime="<%= addition.formatted_created_at %>">
							<%= addition.formatted_created_at %>		
						</time></small>

						<div class="mt-2">
							Replenishment for <%= addition.balance %> 
						</div>
					</div>
				</section>
		</div>
	</div>
	<hr>
<% end %>

<% if @balance > 0 %>
	<h4>Total amount: <%= @balance %></h4>
<% end %>