<% provide :page_title, 'Reset password' %>
<% currently_at 'Log In' %>

<h1 class="mb-4">Log In</h1>

<%= form_with url: password_reset_path do |f| %>
	<div class="mb-3 row">
		<div class="col-sm-2 col-form-label">
			<%= f.label :email, "Email" %>
		</div>

		<div class="col-sm-10">
			<%= f.email_field :email, value: params[:email] ,placeholder: "E-mail",
				 class: "form-control form-control-lg", required: true %>
		</div>
	</div>

	<%= f.submit "Send reset instructions", class: "btn btn-primary btn-lg" %>
	<%= link_to "Back to sign in", new_session_path, class: "btn btn-secondary" %>
<% end %>