<%= form_with model: @user do |f| %>
	<%= render 'shared/errors', object: @user %>

	<div>
		<div>
			<%= f.label :email %>
		</div>

		<div>
			<%= f.email_field :email, placeholder: "E-mail", class: "form-control form-control-lg" %>
		</div>
	</div>

	<div>
		<div>
			<%= f.label :name %>
		</div>

		<div>
			<%= f.text_field :name, placeholder: "Name", class: "form-control form-control-lg" %>
		</div>
	</div>

	<div>
		<div>
			<%= f.label :password %>
		</div>

		<div>
			<%= f.password_field :password, class: "form-control form-control-lg" %>
		</div>
	</div>

	<div>
		<div>
			<%= f.label :password_confirmation %>
		</div>

		<div>
			<%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
		</div>
	</div>

	<%= f.submit "Register", class: "btn btn-primary btn-lg" %>
<% end %>