<% provide :page_title, 'Wallets' %>

<div class="container text-center">
	<div class="row justify-content-between">
		<div class="col-auto me-auto">
			<h1>Here are all your current budgets</h1>
		</div>
		<div class="col-auto">
			<%= link_to "New budget", new_wallet_path, class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>
<% @wallets.each do |wallet| %>
	<div class="card mt-3">
		<div class="card-header">
			<%= wallet.start_date %> - <%= wallet.end_date %>
		</div>
		<div class="card-body">
			<h5 class="card-title">Budget for a given period</h5>
			<p class="card-text"><%= wallet.budget %></p>
			<%= link_to "More detailed", wallet_path(wallet), class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>