<% provide :page_title, 'Wallet' %>
<% currently_at('Wallets') %>

<div>
	<h4>
		The balance of the budget: <%= @balance_of_budget %>
	</h4>
	<% if @diff == 0 %>
		<p style="font-size: 20px">
			Today is the last day of this budget!
		</p>
	<% elsif @diff < 0 %>
		<p style="font-size: 20px">
			The validity period of this budget is over!
		</p>
	<% else %>
		<p style="font-size: 20px">
			<%= @diff %> days left
		</p>
	<% end %>
</div>

<hr style="width: 1000px">

<%= form_with model: [@wallet ,@operation] do |f| %>
	<%= render "shared/errors", object: @operation %>

	<div>
		<div>
			<%= f.label :operation_type, "Type of operation" %>
		</div>

		<div class="mt-2" style="width: 1000px">
			<%= f.select :operation_type, ['Profit', 'Expense'], {include_blank: "Select the type of operation"},
				 {class: 'form-control', required: true} %>
		</div>
	</div>

	<div>
		<div class="mt-2">
			<%= f.label :operation_amount, "Amount" %>
		</div>

		<div class="mt-2" style="width: 1000px">
		<%= f.number_field :operation_amount, placeholder: 'Amount', class: 'form-control' %>
		</div>
	</div>

	<div>
		<div class="mt-2">
			<%= f.label :operation_date, "Date of operation" %>
		</div>

		<div class="mt-2">
			<%= f.date_field :operation_date, value: Date.today, min: @wallet.start_date, max: @wallet.end_date, class: 'form-control-sm' %>
		</div>
	</div>

	<%= f.submit 'Submit', class: 'btn btn-primary mt-3' %>
<% end %>

<hr style="width: 1000px">

<%= form_with url: wallet_path(@wallet), method: :get do |form| %>
	<div class="mt-3 mb-2">
		<%= form.select :filter, ["All transactions", "Profit", "Expense"], {selected: params[:filter]}, {class: "form-select-sm"} %>
		<%= form.submit "Filter", class: 'btn btn-outline-primary btn-sm ' %>
	</div>
<% end %>

<% @operations.each do |operation| %>
	<div class="col-sm">
		<div class="card-body">
			<section class="card-text mb-3">
				<div class="col-sm-9">
					<small><time datetime="<%= operation.formatted_operation_date %>">
						<%= operation.formatted_operation_date %>		
					</time></small>

					<div class="mt-2">
						<% if operation.operation_type == "Profit" %>
							<p class="text-success">+<%= operation.operation_amount %></p>
						<% else %>
							<p class="text-danger">-<%= operation.operation_amount %></p>
						<% end %>
					</div>
				</div>
			</section>
		</div>
	</div>
	<hr style="width: 1000px">
<% end %>