<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RichPig</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RichPig</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Capital</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">FAQ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container mt-3">
    
      <% if flash.present? %>
        <div style="display:inline-block">
          <% flash.each do |k, v| %>
            <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
          <% end %>
        </div>
      <% end %>
      

      <%= yield %>
    </main>
  </body>
</html>
